/*=reset Start*/
html{color:#000;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}
/*=reset End*/

html{
    height: 100%;
	background: url("../images/bg.jpg") no-repeat ;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
}

#container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}
#container h1{
	font-size: 80px;
	color: #eee;
	text-align: center;
	position: absolute;
	width: 600px;
	top: -170px;
	left: 50%;
	margin-left: -300px;
}
#container input[type=text], #container input[type=password]{
	width: 300px;
	line-height: 40px;
	text-indent: 20px;
	height: 40px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
}
#container input[type=submit]{
	width: 300px;
	line-height: 40px;
	height: 40px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
}
